{% extends 'base.html' %}

{% block content %}

			<p>Bu internet sitesi, FMV Işık Üniversitesi/Mühendislik Fakültesi/Bilgisayar Mühendisliği bölümü, SE311 kodlu Web Programlama dersi kapsamında tasarlanmıştır.</p>

			<h2>Biz kimiz?</h2>

			<p>Bu internet sitesini tasarlayan iki kişilik bir grubuz. İsimlerimiz; Oğuzhan Ulusoy ve Eren Turançiftçi'dir.</p>

			<h2>Sitenin amacı nedir?</h2>

			<p>Halka açık olan internet sitemizde, dileyenler çeşitli kategorilerde bulunan ve amatör yapımcılar tarafından eklenmiş oyunları ücretsiz olarak oynayabilirler.</p>

			<p>Ayrıca, dileyen kişiler "Sende Gönder" sekmesi altından kendi oyunlarını gönderebilirler. Bunun için, siteye üye olmaları yeterlidir. Ancak içerik, site yöneticisi tarafından onaylandığı takdirde uygun kategoride, oyunlar listesinde görünecektir.</p>

			<p>Bu site Django kullanılarak, Python kodlarıyla geliştirilmiştir. HTML, CSS ve (kısmen) JavaScript kullanılmıştır.</p>

{% endblock content %}
