{% extends 'base.html' %}

{% block content %}

			<p>Kullanıcıların sıkça sordukları soruları aşağıda görebilirsiniz.</p>

			<h2>Biz kimiz?</h2>

			<p>SE311 dersi kapsamında internet projemizi geliştirmeye çalıştıran iki kişilik bir ekibiz. <a href="about.html">Hakkımızda</a> sayfasından daha fazlasını görebilirsiniz.</p>

			<h2>İçerikler ücretsiz midir?</h2>

			<p>Evet, tüm içerikler ücretsizdir.</p>

			<h2>Herkes kendi amatör yapımını ekleyebilir mi?</h2>

			<p>Üye olmak koşuluyla, herkes kendi amatör yapımını siteye ekleyebilir. Ancak site yöneticisinin onayı gereklidir.</p>

{% endblock content %}
