{% extends 'base.html' %}
{% load static %}
{% block extra_css%}
	table {
		font-family: arial, sans-serif;
		border-collapse: collapse;
		width: 100%;
	}

	td, th {
		border: 1px solid #dddddd;
		text-align: left;
		padding: 8px;
	}

	tr:nth-child(even) {
		background-color: #dddddd;
	}

	input[type=text] {
		width: 130px;
		-webkit-transition: width 0.8s ease-in-out;
		transition: width 0.8s ease-in-out;
	}

	input[type=text]:focus {
		width: 100%;
	}

	div.tab {
		overflow: hidden;
		border: 1px solid #ccc;
		background-color: #f1f1f1;
	}

	div.tab button {
		background-color: inherit;
		float: left;
		border: none;
		outline: none;
		cursor: pointer;
		padding: 14px 16px;
		transition: 0.3s;
	}

	div.tab button:hover {
		background-color: #ddd;
	}

	div.tab button.active {
		background-color: #ccc;
	}

	.tabcontent {
		display: none;
		padding: 6px 12px;
		border: 1px solid #ccc;
		border-top: none;
	}

{% endblock extra_css%}

{% block content %}


	<!-- tablo başlangıcı -->
<h2>Tüm Oyunlar</h2>


	<table>
		<tr>
			<th>Başlık</th>
			<th>Bilgi</th>
		</tr>

	{% for post in posts %}
		<tr>
			<td><p><a href="/show_post/{{post.id}}/">{{ post.title }}</a></p></td>
			<td><p><a href="/show_post/{{post.id}}/">{{ post.content }}</a></p></td>
		</tr>
	</table>


    {% endfor %}


	<!-- tablo bitimi -->


</section>

<h2>Tane oyun yüklenmiştir</h2>
{{ context.counter }}

{% endblock content %}